#galleryDiv {
	margin-left: 5%;
    display: inline-block;
    width: auto;
    height: auto;
	margin-bottom: 40px;
}


.hexagon {
    position: relative;
    float: left;
    overflow: hidden;
    visibility: hidden;
    width: 274px;
    height: 137px;
    transform: rotate(120deg);
    margin: 0 -94px -67px -58px; /*background:rgba(255,0,0,0.5)*/
}

.outer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg); /*background:rgba(0,255,0,0.5)*/
}

.inner {
    overflow: hidden;
    position: relative;
    visibility: visible;
    width: 274px;
    height: 100%;
    transform: rotate(-60deg);
    background: #0000ff /*url(img/team.png)*/ 50% 50% no-repeat; /*opacity:0.5*/
}

.textWrapper {
    overflow: hidden;
    position: absolute;
    top: 137px;
    left: 55px;
    width: 160px;
    height: 137px;
    z-index: 500;
    background: rgba(255,255,255,0.75); /*border:1px solid black; top:0px;*/
    transition: all 0.2s;
}

.text {
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
    position: absolute;
    top: 14px;
    left: 41px;
    width: 89px;
    height: 92px;
    z-index: 500;
    /*border:1px solid red;*/
}

.inner:hover .textWrapper {
    top: 96px;
}


.even {
    margin-top: 70px;
}

.row {
    clear: left;
    width: 900px;
    float:left;
}

.boxbio {
    height: auto;
    width: 800px;
    display: inline-block;
}

.boximage {
    max-width:600px;
    display: block;
    float: left;
	
}

.boxtext {
    margin-left:20px;
    display: block;
    float: right;
    width:100%;
    height: 100%;
    max-width: 250px;
    overflow-y: visible;
}

#stealthy {
    display:none;
}

.galleryDivs {
    display:inline-block;
    margin-bottom:50px;
}